/*FONTES*/
@font-face {
    font-family: Roboto-Regular;
    src: url('../Fontes/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto-Light;
    src: url('../Fontes/Roboto-Light.ttf');
}
@font-face {
    font-family: Roboto-Bold;
    src: url('../Fontes/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto-Black;
    src: url('../Fontes/Roboto-Black.ttf');
}
/*FONTES*/

body{
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;

}

/*SCROLLBAR BODY*/
body::-webkit-scrollbar-track {
    background-color: #e7e7e7;
}
body::-webkit-scrollbar {
    width: 5px;
    background: #212121;
}
body::-webkit-scrollbar-thumb {
    background: silver;
}
body::-webkit-scrollbar-corner{
    background: #e7e7e7;
}
/*SCROLLBAR BODY*/

a{
    text-decoration: none;
    cursor: pointer;
}

/*PC*/

.Logo_Carregamento{
    width: 100%;
    height: 90%;
    margin: 0;
    background: url('../Gif/LOGO.gif') no-repeat center;
    background-size: 80px auto;
    position: absolute;
    z-index: 5;
    display: none;
}
@media (max-width:1590px){
    .Logo_Carregamento{
        width: 100%;
        height: 95%;
    }
}
.resposive{
    display: none;
}



/*HEADER LOGO*/
.Logo{
    height: 180px;
    width: 100%;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}
.Logo .Logo_img{
    width: 120px;
    position: absolute;
    top: 15px;
    left: 80px;
    z-index: 4
}
@media (max-width: 1359px){
    .Logo{
        /*    border: 1px solid black;*/
        height: 150px;
    }
    .Logo .Logo_img{
        width: 100px;
        position: absolute;
        top: 15px;
        left: 100px;
        z-index: 4
    }
}
.romobot{
    position: absolute;
    z-index: 3;
    overflow: hidden;
    height: 180px;
    width: 500px;
    left: 300px;
}
.romobot .romobot_img{
    margin: 0;
    float: left;
    width: 120px;
    margin-top: 40px
}
.romobot .CaixaDiag{
    float: left;
    height: 180px;
    max-width: 375px;
    display: table;

}
.romobot .dialogos{
    vertical-align: middle;
    display: table-cell;
    position: static;
}
.CaixaDiag .Diag{
    height: 60px;
    padding: 10px;
    overflow: auto;
    background: white;
    box-shadow: 1px 1px 30px 3px rgba(0,40,60,.1);
    width: 340px;
    font-size: 17px;
    font-family: "Roboto-Light";
    color: #23557d;
    cursor: pointer
}
.Diag::-webkit-scrollbar-track {
    background: none;
}
.Diag::-webkit-scrollbar {
    width: 7px;
}
.Diag::-webkit-scrollbar-thumb {
    background: #e7e7e7;
}
@media (max-width: 1249px){
    .romobot{
        height: 205px;
        width: 500px;
        left: 250px;

    }
    .romobot .romobot_img{
        margin: 0;
        float: left;
        width: 90px;
        margin-top: 65px
    }
    .romobot .CaixaDiag{
        float: left;
        height: 200px;
        max-width: 375px;
        display: table;

    }
    .romobot .dialogos{
        vertical-align: middle;
        display: table-cell;
        position: static;

    }
    .CaixaDiag .Diag{
        height: 50px;
        padding: 10px;
        overflow: auto;
        background: white;
        box-shadow: 1px 1px 30px 3px rgba(0,40,60,.1);
        width: 300px;
        font-size: 14px;
        font-family: "Roboto-Light";
        color: #23557d
    }
}

/*CONTAGEM*/
.countdown_corpo{
    position: absolute;
    top: -100%;
    right: 0;
    height: 105px;
    overflow: hidden;
}
@media (max-width: 1000px) {
    .countdown_corpo{
        display: none
    }
}
.countdown_Text{
    float: right;
    height: 69px;
    line-height: 70px;
    font-size: 18px;
    font-family: "Roboto-Bold";
    color: #00283c;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 170px;
    left: 200px;
    z-index: 2;
    /*    border: 2px solid black*/
}
@media (max-width:1590px){
    .countdown_Text{
        font-size: 16px;
        /*    border: 2px solid black*/
    }
}
@media (max-width:1359px){
    .countdown_corpo{
        position: absolute;
        top: -100%;
        right: 0;
        height: 70px !important;
        overflow: hidden;
    }
    .countdown-container .countdown-heading {
        font-size: 11px;
    }

    .countdown-container .countdown-value {
        font-size: 23px !important;

    }
    .countdown_Text{
        font-size: 14px;
        /*    border: 2px solid black*/
    }
}
@media (max-width:1249px){
    .countdown_corpo{
        position: absolute;
        top: -100%;
        right: 0;
        height: 60px !important;
        overflow: hidden;
    }
    .countdown-container .countdown-heading {
        font-size: 11px;
    }

    .countdown-container .countdown-value {
        font-size: 20px !important;

    }
    .countdown_Text{
        font-size: 14px;
        /*    border: 2px solid black*/
    }
}
/*CONTAGEM*/
/*HEADER LOGO*/



/*MENU*/
.Menu{
    /*border: 2px solid #00283c;*/
    width: 246px;
    height: 375px;
    background: url("../Imagem/Icones/Triagulo.png")no-repeat left center;
    background-size: 20px 100%;
    position: absolute;
    left: 0;
    top: 200px;
    z-index: 5;
    background-color: rgba(255,255,255, .7);
    box-shadow: 1px 1px 30px 3px rgba(0,40,60,.1);

}
.Menu_Lista{
    /*    border: 1px solid black;*/
    position: absolute;
    margin: 0;
    width: 200px;
    right: 10px;
    top: 27px;
    list-style: none;
    padding: 0
}
.Menu_Lista_item{
    font-size: 14px;
    text-align: right;
    width: 95%;
    margin: 0;
    height: 40px;
    line-height: 40px;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    transition: cubic-bezier(.500, 1.000, .500, 1.000) all .4s;  
    cursor: pointer;
    padding-right: 5%;
}

.Menu_Lista_item:hover{
    background: url("../Gif/MenuGIF.gif") no-repeat center left;
    background-size: 100% 100%;
}


.Menu_Lista a{
    color: #00283c;
}
@media (max-width: 1590px){


    .Menu{
        /*    border: 1px solid black;*/
        height: 340px;
        position: absolute;
        left: 0;
        top: 175px;
    }
    .Menu_Lista{
        top: 25px;
    }
    .Menu_Lista_item{
        font-size: 13px;
        height: 37px;
        line-height: 37px;
    }
}
@media (max-width: 1359px){
    .Menu_Lista_item{
        font-size: 12px;
        width: 90%;
        height: 37px;
        line-height: 37px;
    }

    .Menu{
        /*    border: 1px solid black;*/
        height: 330px;
        left: 0;
        top: 150px;
    }
    .Menu_Lista{
        /*    border: 1px solid black;*/
        right: 10px;
        top: 10px;

    }
}
@media (max-width: 1249px){
    .Menu_Lista_item{
        font-size: 12px;
        width: 90%;
        height: 37px;
        line-height: 37px;
    }

    .Menu{
        /*    border: 1px solid black;*/
        height: 330px;
        left: 0;
        top: 180px;
    }
    .Menu_Lista{
        /*    border: 1px solid black;*/
        right: 10px;
        top: 15px;

    }
}
/*MENU*/



/*SETAS*/
.Seta_Esquerda{
    /*    border: 1px solid black;*/
    width: 80px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 200px;
    z-index: 5;
    left: 250px;
    -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;  
    cursor: pointer
}
.Seta_Esquerda_back{
    /*    border: 1px solid black;*/
    width: 80px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 200px;
    z-index: 6;
    left: 250px;
    -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;  
    cursor: pointer;
    display: none
}
.Seta_Esquerda:hover{
    transform: scale(.9);
}

.Seta_Esquerda img{
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -48px;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);

}
.Seta_Esquerda_back img{
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -48px;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);

}
.Seta_Direita{
    /*    border: 1px solid black;*/
    position: absolute;
    right: 0;
    z-index: 5;
    width: 80px;
    top: 200px;
    height: 300px;
    overflow: hidden;
    -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;  
    cursor: pointer
}
.Seta_Direita:hover{
    transform: scale(.9);
}
.Seta_Direita img{
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -48px;

}

@media (max-width:1590px){
    .Seta_Esquerda{
        /*    border: 1px solid black;*/
        height: 250px;


    }
    .Seta_Esquerda_back{
        /*    border: 1px solid black;*/
        height: 250px;
    }

    .Seta_Direita{
        height: 250px;
    }

}
/*SETAS*/

/*CORPO INTEIRO CONTEUDO*/
.background_Evento_Corpo{
    left: 250px;
    width: calc(100% - 250px);
    position: absolute;
    height: 100%;
    z-index: 3;
    overflow: hidden;
    /*    border: 1px solid black*/
}

.Evento_Corpo{
    /*        border: 1px solid pink;*/
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 2;
    left: 100%;
    overflow: hidden;
}
/*CORPO INTEIRO CONTEUDO*/

/*CONTEUDO HOME*/
.Corpo{
    /*        border: 1px solid Blue;*/
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 2;
}
.Corpo_Titulo_Background{
    /*        border: 1px solid red;*/
    width: 100%;
    padding: 0;
    position: absolute;
    height: 100%;
    background: url('../Imagem/Icones/background_text.jpg') no-repeat center;
    background-size: 100% 120px;
    background-position-y: 282px;

}
.Corpo_Titulo{
    /*    border: 1px solid red;*/
    padding: 0;
    text-align: left;
    position: absolute;
    display: table;
    height: 300px;
    z-index: 2;
    top: 200px;
    width: calc(100% - 600px);

}
@media(max-width:1590px){
    .Corpo_Titulo{
        height: 250px;
    }
    .Corpo_Titulo_Background{
        /*        border: 1px solid red;*/
        background: url('../Imagem/Icones/background_text.jpg') no-repeat center;
        background-size: 100% 120px;
        background-position-y: 258px;

    }
}
@media(max-width:1249px){
    .Corpo_Titulo{
        top: 0;
        height: 515px;
        width: 100%;
    }
    .Corpo_Titulo_Background{
        /*        border: 1px solid red;*/
        background: url('../Imagem/Icones/background_text.jpg') no-repeat center;
        background-size: 100% 120px;
        background-position-y: 258px;

    }
}

.Titulos{
    vertical-align: middle;
    display: table-cell;
    position: static;

}

.Corpo_Titulo .Titulo1{
    text-align: left;
    font-family: "Roboto-Black";
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
    color: white;
    font-size: 80px;
    /*    border: 1px solid black;*/
    margin: 0;
    margin-top: -15px;
    margin-left: 85px;
    height: 80px;
    line-height: 80px;
    overflow: hidden
}
@media (max-width: 1590px) {
    .Corpo_Titulo .Titulo1{
        font-size: 68px;
        width: 110%;
    }
}
@media (max-width: 1359px) {
    .Corpo_Titulo .Titulo1{
        font-size: 55px;
        width: 110%;
    }
}
@media(max-width:1249px){
    .Titulos{
        vertical-align: top;
        display: table-cell;
        position: static;
    }
    .Corpo_Titulo .Titulo1{
        margin-top: 100px;
        margin-left: -85px;
        font-size: 60px;
        width: 110%;
        text-align: right
    }
}

.Corpo_Titulo .Titulo2{
    font-family: "Roboto-Bold";
    color: #e7e7e7;
    font-size: 25px;
    text-transform: uppercase;
    /*        border: 1px solid black;*/
    margin: 0;
    padding-left: 87px;
    overflow: hidden;
    border: none;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
    margin-top: -10px
}
@media (max-width: 1590px) {
    .Corpo_Titulo .Titulo2{
        font-size: 30px;
    }
}
@media (max-width: 1359px) {
    .Corpo_Titulo .Titulo2{
        font-size: 25px;
    }
}
@media(max-width:1249px){
    .Corpo_Titulo .Titulo2{
        color: #00324c;
        font-size: 20px;
        text-shadow: 1px 1px 0 rgba(140,140,140,0.2) , -1px -1px 1px rgba(0,0,0,0.4) ;
        padding-right: 10px;
        text-align: right
    }
}


.Corpo_Titulo .Botao_Ver_Mais{
    /*    border: 1px solid black;*/
    position: absolute;
    height: 50px;
    width: 100%;
    display:  inline-table;
    text-align: center;
    bottom: 5px

}

.Corpo_Titulo .Botao_Ver_Mais button{
    height: 100%;
    padding: 0 50px;
    font-size: 20px;
    background: transparent;
    border: 2px solid #00283c;
    font-family: "Roboto-Bold";
    color: #00283c;
    -webkit-transform:skew(-4deg); 
    -moz-transform:skew(-4deg); 
    -o-transform:skew(-4deg); 
    transform:skew(-4deg);
    -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;  
    cursor: pointer

}

@media (max-width: 1590px){
    .Corpo_Titulo .Botao_Ver_Mais{
        /*    border: 1px solid black;*/
        position: absolute;
        height: 45px;
        width: 100%;
        display:  inline-table;
        text-align: center;
        margin-top: 30px;

    }
    .Corpo_Titulo .Botao_Ver_Mais button{
        height: 100%;
        padding: 0 50px;
        font-size: 17px;

    }
}
.Corpo_Titulo .Botao_Ver_Mais button:hover{
    background: #00283c;
    border: 2px solid transparent;;
    color: #e7e7e7;
    transform: scale(1.1)
}

.Corpo_Imagem{
    position: absolute;
    height: 300px;
    width: 550px;
    right: 100px;
    top: 200px;
    /*        -webkit-transform:skew(-1deg); 
            -moz-transform:skew(-1deg); 
            -o-transform:skew(-1deg); 
            transform:skew(-1deg);*/
}
@media (max-width: 1590px) {
    .Corpo_Imagem{
        top: 175px;
        height: 300px;
        width: 550px;
    }
}
@media (max-width: 1359px) {
    .Corpo_Imagem{
        top: 180px;
        height: 275px;
        width: 525px;
    }
}
@media (max-width: 1249px) {
    .Corpo_Imagem{
        top: 180px;
        height: 275px;
        width: 525px;
        right: 50%;
        margin-right: -262.5px
    }
}
/*CONTEUDO HOME*/


/*CONTEUDO INFORMAÇOES DO EVENTO SELECIONADO*/
.Corpo_Informacoes{
    /*        border: 1px solid Blue;*/
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 2;
    transform: translate(100%);
}
.emDesenvolvimento{
    width: 100%;
    height: 100%;
    background: url('../Imagem/BG/EmDesenvolvimento.png') no-repeat;
    background-size: cover;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
    color: #e7e7e7;
    line-height: 450px;
    font-family: "Roboto-Bold";
    font-size: 40px;
    text-align: center;
}
.Corpo_Titulo_Background_informacoes{
    /*        border: 1px solid red;*/
    width: 100%;
    padding: 0;
    position: absolute;
    height: 100%;
    background: url('../Imagem/Icones/background_text.jpg') no-repeat center left;
    background-size: 90% 120px;
    background-position-y: 282px;

}
@media (max-width:1590px){
    .Corpo_Titulo_Background_informacoes{
        width: 100%;
        padding: 0;
        position: absolute;
        height: 100%;
        background: url('../Imagem/Icones/background_text.jpg') no-repeat center left;
        background-size: 90% 120px;
        background-position-y: 258px;

    }
    .emDesenvolvimento{
        background: url('../Imagem/BG/EmDesenvolvimento.png') no-repeat;
        background-size: 101% 100%;
        line-height: 400px;
        font-family: "Roboto-Bold";
        font-size: 35px;
    }
}
@media (max-width:1359px){
    .emDesenvolvimento{
        font-size: 30px;
    }
}



/*CONTEUDO INFORMAÇOES DO EVENTO (TITULO)*/
.Corpo_Titulo_Informacoes{
    padding: 0;
    text-align: left;
    position: absolute;
    display: table;
    height: 300px;
    z-index: 2;
    top: 200px;
    width: calc(100% - 600px);
}
@media(max-width:1590px){
    .Corpo_Titulo_Informacoes{
        height: 250px;
    }

}
@media(max-width:1249px){
    .Corpo_Titulo_Informacoes{
        padding: 0;
        text-align: right;
        height: 530px;
        z-index: 2;
        top: 0;
        width: 100%;
    }

}

.Titulos_Informacoes .Titulo1_informacoes{
    font-size: 60px;
    margin: 0;
    margin-top: -15px;
    margin-left: 90px;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
    color: white;


}
.Titulos_Informacoes .Titulo2_informacoes{
    font-family: "Roboto-Bold";
    color: #e7e7e7;
    font-size: 23px;
    text-transform: uppercase;
    /*        border: 1px solid black;*/
    margin: 0;
    padding-left: 87px;
    overflow: hidden;
    border: none;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
    margin-top: -10px

}
@media (max-width: 1590px) {
    .Titulos_Informacoes .Titulo1_informacoes{
        font-size: 37px;

    }
    .Titulos_Informacoes .Titulo2_informacoes{
        margin-top: -20px

    }
}
@media (max-width: 1249px) {
    .Titulos_Informacoes .Titulo1_informacoes{
        font-size: 50px;
        margin-top: 30px;
        text-align: right;
        margin-left: 0;
        color: white;
        width: 97%

    }
    .Titulos_Informacoes .Titulo2_informacoes{
        font-family: "Roboto-Bold";
        font-size: 18px;
        /*        border: 1px solid black;*/
        padding: 0;
        border: none;
        color: #00324c;
        margin-top: -15px;
        text-shadow: 1px 1px 0 rgba(140,140,140,0.2) , -1px -1px 1px rgba(0,0,0,0.4) ;
        width: 97%

    }
}
/*CONTEUDO INFORMAÇOES DO EVENTO (TITULO)*/


/*CONTEUDO INFORMAÇOES DO EVENTO (CONTEUDO)*/
.Informacoes{
    position: absolute;
    width: 900px;
    height: 100%;
    right: 0;
    overflow: auto;
    z-index: 2;
    background: url('../Imagem/Icones/background_text_vert.jpg') no-repeat right;
    background-size: 120px 100%;
    background-position-y: 100px;

}
.corpo_Cards{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 100px;
    right: 0;
    overflow: auto;
    background-image: url("../Imagem/BG/FundoInformacoesPalestrante.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    overflow-y: scroll;
}
.scrollCardsInicio{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 10px;
    right: 0;
    padding: 0;
    cursor: pointer;
}
.scrollCardsInicio img{
    position: absolute; 
    width: 50px;
    bottom: 5px;
    left: 50%;
    margin-left: -25px
}
.scrollCardsFim{
    float: right;
    width: 95%;
    height: 60px;
    padding: 0;
    margin-right: 10px;
    text-align: right;
    margin-top: -60px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer
}
.scrollCardsFim img{
    position: absolute; 
    width: 50px;
    bottom: 5px;
    left: 50%;
    margin-left: -25px
}
@media (max-width: 1590px) {
    .Informacoes{
        width: 800px;
        background-position-y: 115px;
    }
    .corpo_Cards{
        width: 800px;
        height: 400px;
        top: 115px
    }
}
@media (max-width: 1359px) {
    .Informacoes{
        width: 700px;
        background-position-y: 130px;
    }
    .corpo_Cards{
        width: 670px;
        height: 350px;
        top: 130px
    }
}

.corpo_Cards::-webkit-scrollbar-track {
    background: none;
}
.corpo_Cards::-webkit-scrollbar {
    width: 7px;
}
.corpo_Cards::-webkit-scrollbar-thumb {
    background: #e7e7e7;
}
/*CONTEUDO INFORMAÇOES DO EVENTO (CONTEUDO)*/


/*CONTEUDO INFORMAÇOES DO PALESTRANTE (AJAX)*/
.Corpo_Informacoes_Palestrante{
    /*        border: 1px solid Blue;*/
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 2;
    transform: translateY(100%);
    background: url('../Imagem/Icones/background_text_vert.jpg') no-repeat top right;
    background-size: 120px 350px;
}

.Corpo_Titulo_Background_informacoes_Palestrante{
    /*        border: 1px solid red;*/
    width: 100%;
    padding: 0;
    position: absolute;
    height: 100%;
    background: url('../Imagem/Icones/background_text.jpg') no-repeat center right;
    background-size: 90% 120px;
    background-position-y: 290px
}
@media (max-width:1590px){
    .Corpo_Informacoes_Palestrante{
        /*        border: 1px solid Blue;*/
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 2;
        transform: translateY(100%);
        background: url('../Imagem/Icones/background_text_vert.jpg') no-repeat top right;
        background-size: 120px 315px;
    }

    .Corpo_Titulo_Background_informacoes_Palestrante{
        /*        border: 1px solid red;*/
        width: 100%;
        padding: 0;
        position: absolute;
        height: 100%;
        background: url('../Imagem/Icones/background_text.jpg') no-repeat center right;
        background-size: 90% 120px;
        background-position-y: 255px
    }
}
@media (max-width:1359px){
    .Corpo_Informacoes_Palestrante{
        /*        border: 1px solid Blue;*/
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 2;
        transform: translateY(100%);
        background: url('../Imagem/Icones/background_text_vert.jpg') no-repeat top right;
        background-size: 120px 320px;
    }

    .Corpo_Titulo_Background_informacoes_Palestrante{
        /*        border: 1px solid red;*/
        width: 100%;
        padding: 0;
        position: absolute;
        height: 100%;
        background: url('../Imagem/Icones/background_text.jpg') no-repeat center right;
        background-size: 90% 120px;
        background-position-y: 245px
    }
}
/*CONTEUDO INFORMAÇOES DO PALESTRANTE (AJAX)*/


/*CONTEUDO INFORMAÇOES DO EVENTO (EVENTO(BANCO DE DADOS))*/

/*CONTEUDO INFORMAÇOES DO EVENTO (EVENTO(CABEÇALHO))*/
.Informacoes_evento{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden
}
/*.overflowbd{
    overflow: hidden
}*/

.Informacoes_evento_cabecalho{
    width: 90%;
    overflow: hidden;
    padding: 0;
    margin-left: 5%;
    margin-top: 5%;
}
.Informacoes_evento_cabecalho .Localizacao{
    width: 100%;
    float: left;
    text-align: left;
    font-family: "Roboto-Bold";
    font-size: 15px;
    color: white;
}
.Informacoes_evento_cabecalho .Localizacao img{
    height: 15px;
    width: auto;
    margin-right: 15px;
}


.Informacoes_evento_cabecalho .Horario{
    width: 100%;
    float: left;
    color: white;
    font-size: 30px;
    font-family: "Roboto-Black";
    margin-top: 10px;
}
.Informacoes_evento_cabecalho .Horario img{
    height: 30px;
    width: auto;
    margin-right: 15px;
}

.Informacoes_evento_cabecalho div{
    /*        border: 1px solid black;*/
}
/*CONTEUDO INFORMAÇOES DO EVENTO (EVENTO(CABEÇALHO))*/


/*CONTEUDO INFORMAÇOES DO EVENTO (EVENTO(ATIVIDADES))*/
.Informacoes_evento .atividades{
    border-bottom: 1px solid #e7e7e7;
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    min-height: 200px;
    float: left;
    padding-bottom: 10px;

}

.titulo_sobre_atividades{
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 35px;
    margin: 25px 0;
    font-family: "Roboto-Bold";
    color: white
}
.Atividades_itens{
    margin: 10px;
    list-style: none;
    padding: 0;
    overflow: hidden;
    text-align: center
}

.Atividades_itens .Atividades_itens_item{
    margin: 0;
    font-size: 20px;
    font-family: "Roboto-Regular";
    color: white;
    display: inline-block;
    margin: 0 -3px;
    width: 33.33%;
    text-align: center;
    background: #00283c;
    padding: 25px 0;
    font-size: 16px;
    -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;  
    cursor: pointer;
}
.Atividades_itens .Atividades_itens_item:hover{
    transform: scale(.95);
}

.Atividades_itens .Atividades_itens_item img{
    height: 90px;
    -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;  
    cursor: pointer
}
.Atividades_itens .Atividades_itens_item:hover img{
    transform: scale(1.1);
}

.Atividades_itens_item_sobre{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
}
.Atividades_itens_item_sobre_background{
    width: 95%;
    height: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #00283c;
    position: relative;
    overflow: hidden
}
.Atividades_itens_item_sobre_corpo{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
}
.Atividades_itens_item_sobre_corpo_cadastro{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    left: 100%;
    top: 0;

}
.Atividades_download{
    height: 100%;
    width: 45%;
    float: left;
    margin: 0 2.5%;
}
.Atividades_download .Atividades_download_cabecalho{
    width: 100%;
    height: 70px;
    text-align: left;
    line-height: 70px;
    margin-top: 15px;
}

.Atividades_download .Atividades_download_cabecalho img{
    float: left;    
    height: 50px;
    width: auto;
    margin: 10px;
}
.Atividades_download .Atividades_download_cabecalho h3{
    float: left;    
    height: 50px;
    width: auto;
    line-height: 50px;
    font-size: 17px;
    font-family: "Roboto-Regular";
    color: #e7e7e7;
    margin: 10px;
}
.Atividades_download .Atividades_download_download{   
    width: 100%;
    font-size: 16px;
    font-family: "Roboto-Light";
    color: #e7e7e7;
    text-align: left;
    margin-top: 45px;
}
.Atividades_download .Atividades_download_download p{   
    margin: 0
}
.Atividades_download .Botao_download{   
    height: 70px;
    width: 300px;
    background: #e7e7e7;
    margin: 0 auto;
    margin-top: 80px;
    -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;  
    cursor: pointer
}
.Atividades_download .Botao_cadastro p{   
    height: 100%;
    line-height: 70px;
    margin: 0 !important;
    padding: 0 !important
}
@media (max-width:1590px){
    .Atividades_download .Botao_download{   
        margin-top: 40px;

    }
}
.Atividades_download .Botao_download:hover{   
    transform: scale(0.95)
}

.Atividades_download .Botao_download img{   
    height: 50px;
    float: left;
    margin: 10px;
    -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
    transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;  
    cursor: pointer
}
.Atividades_download .Botao_download:hover img{   
    transform: scale(1.1)
}
.Atividades_download .Botao_download p{   
    color: #00324c;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Roboto-Black";
    float: left;
    margin: 0;
    margin-top: 12px
}

@media (max-width: 1359px){
    .Atividades_download .Atividades_download_cabecalho h3{
        float: left;    
        height: 50px;
        width: auto;
        line-height: 50px;
        font-size: 14px;
        font-family: "Roboto-Regular";
        color: #e7e7e7;
        margin: 10px;
    }
    .Atividades_download .Atividades_download_download{   
        width: 100%;
        font-size: 14px;
        font-family: "Roboto-Light";
        color: #e7e7e7;
        text-align: left;
        margin-top: 20px;
    }

    .Atividades_download .Botao_download{   
        height: 60px;
        width: 250px;
        background: #e7e7e7;
        margin: 0 auto;
        margin-top: 25px;
        -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
        -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
        -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
        -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
        transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;  
        cursor: pointer
    }
    .Atividades_download .Botao_download:hover{   
        transform: scale(0.95)
    }

    .Atividades_download .Botao_download img{   
        height: 40px;
        float: left;
        margin: 10px;
        -webkit-transition:  cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
        -moz-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
        -ms-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
        -o-transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;
        transition: cubic-bezier(.190, 1.000, .500, 1.000) all .4s;  
        cursor: pointer
    }
    .Atividades_download .Botao_download:hover img{   
        transform: scale(1.1)
    }
    .Atividades_download .Botao_cadastro p{   
        height: 100%;
        line-height: 60px;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 16px;
    }
}

.scrollDownloadInicio{
    position: absolute;
    height: 60px;
    bottom: 10px;
    right: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    width: 100%
}
.scrollDownloadInicio img{
    position: absolute; 
    width: 50px;
    bottom: 5px;
    left: 50%;
    margin-left: -25px
}
.scrollDownloadFim{
    position: absolute;
    height: 60px;
    bottom: 10px;
    right: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    width: 100%
}
.scrollDownloadFim img{
    position: absolute; 
    width: 50px;
    bottom: 5px;
    left: 50%;
    margin-left: -25px
}
.Atividades_Imagemgif{
    height: 100%;
    width: 45%;
    margin: 0 2%;
    float: left;

}
@media (max-width: 1590px) {
    .Informacoes_evento_cabecalho{
        width: 92%;
        overflow: hidden;
        padding: 0;
        margin-left: 4%;
        margin-top: 4%;
    }
    .Informacoes_evento_cabecalho .Localizacao{
        font-size: 15px;
    }
    Informacoes_evento_cabecalho .Localizacao img{
        height: 15px;
    }
    .Informacoes_evento_cabecalho .Horario{
        width: 100%;
        font-size: 23px;
        font-family: "Roboto-Black";
        margin-top: 10px;
    }
    .Informacoes_evento_cabecalho .Horario img{
        height: 25px;
        width: auto;
        margin-right: 15px;
    }

    .Informacoes_evento .atividades{
        margin-top: 20px;
    }

    .titulo_sobre_atividades{
        font-size: 25px;
        margin: 15px 0;
    }
    .Atividades_itens{
        margin-top: 25px;
    }
    .Atividades_itens .Atividades_itens_item{
        font-size: 14px
    }
    .Atividades_itens .Atividades_itens_item img{
        height: 60px;

    }
}
@media (max-width:1359px){
    .Informacoes_evento_cabecalho .Localizacao{
        font-size: 12px;

    }
    .Informacoes_evento_cabecalho .Localizacao img{
        height: 12px;
        margin-right: 12px;
    } 
    .Informacoes_evento_cabecalho .Horario{
        font-size: 20px;
        margin-top: 10px;
    }
    .Informacoes_evento_cabecalho .Horario img{
        height: 20px;
        width: auto;
        margin-right: 15px;
    }
    .titulo_sobre_atividades{
        height: 25px;
        width: 100%;
        line-height: 25px;
        text-align: center;
        font-size: 20px;
        margin: 0px 0;
        font-family: "Roboto-Bold";
        color: white
    }
    .Atividades_itens .Atividades_itens_item{
        font-size: 12px
    }
}
.Informacoes_evento::-webkit-scrollbar-track {
    background: none;
}
.Informacoes_evento::-webkit-scrollbar {
    width: 7px;
}
.Informacoes_evento::-webkit-scrollbar-thumb {
    background: #e7e7e7;
}
/*CONTEUDO INFORMAÇOES DO EVENTO (EVENTO(ATIVIDADES))*/


/*CONTEUDO INFORMAÇOES DO EVENTO (EVENTO(SOBRE))*/
/*.Informacoes_evento .sobre{
    margin-top: 30px;
    width: 48%;
    min-height: 200px;
    float: right;
    font-size: 14px;
    font-family: "Roboto-Light";
    text-align: justify;
    color: #303030
}*/
/*CONTEUDO INFORMAÇOES DO EVENTO (EVENTO(SOBRE))*/


/*RODAPE*/
.Rodape{
    height: 80px;
    position: absolute;
    z-index: 4;
    bottom: 0;
    width: 100%;
    background-image: url("../Imagem/BG/background_Footer.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.parceirias{
    height: 100%;
    width: 700px;
    background: url("../Imagem/Parceiros/FundoParceiros.png") no-repeat;
    -webkit-background-size: 100% 90%;
    -moz-background-size: 100% 90%;
    -o-background-size: 100% 90%;
    background-size: 100% 90%;
}
.parceirias h3{
    height: 100%;   
    line-height: 80px;
    float: left;
    margin: 0;
    font-family: "Roboto-Bold";
    font-size: 15px;
    color: #00324c;
    margin-left: 20px;
    margin-top: -10px;
}
.empresas{
    width: 450px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    left: 150px;
    bottom: 5px ;
    text-align: center;
    display: none;
}

.realizado{
    display: none
}
.empresas img{
    height: 35px;
    width: auto;
    margin: 5px 30px;
    display: inline-block;
    display: none;

}

.logoetcrodape{
    height: 80px !important;
    margin-top: 10px
}

.Contactpag{
    height: 100%;
    position: absolute;
    right: 290px;
    top: 0;
    width: 450px;
    text-align: right
}
.Contactpag img{
    display: inline-block;
    height: 40px;
    width: auto;
    margin: 20px;
}
.emailetc{
    border-right: 2px solid #e7e7e7;
    float: left;
    display: inline-block;
    height: 50px;
    width: 250px;
    margin-top: 15px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-family: "Roboto-Light";
        color: #e7e7e7
}










.Desenvolvidopor{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 280px
}
.Desenvolvidopor h1{
    font-size: 10px;
    width: 200px;
    text-align: right;
    float: right;
    margin: 0;
    color: #e7e7e7;
    font-family: "Roboto-Light";
    margin-top: 15px;
    margin-right: 20px;

}
.Desenvolvidopor h2{
    font-size: 15px;
    border: 1px solid #e7e7e7;
    width: 100px;
    text-align: center;
    float: right;
    margin: 0;
    color: #e7e7e7;
    font-family: "Roboto-Bold";
    margin-right: 20px;

}
.Desenvolvidopor h3{
    font-size: 12px;
    width: 200px;
    text-align: right;
    float: right;
    margin: 0;
    color: #e7e7e7;
    font-family: "Roboto-Light";
    margin-right: 20px;

}

@media (max-width: 1590px){
    .Rodape{
        height: 70px;
    }
    .parceirias{
        height: 100%;
        width: 620px;
    }
    .parceirias h3{
        height: 100%;   
        line-height: 80px;
        font-size: 14px;

    }
    .empresas{
        width: 400px;
        height: 85px;
        left: 135px;
    }
    .empresas img{
        height: 30px;
        margin: 5px 20px;
    }
    .logoetcrodape{
        height: 70px !important;
        margin-top: 5px !important;
    }
    .Desenvolvidopor h1{
        margin-top: 10px;
        margin-right: 20px;

    }
    .Desenvolvidopor h2{
        font-size: 15px;

    }
    .Contactpag{
        height: 100%;
        position: absolute;
        right: 290px;
        top: 0;
        width: 450px;
        text-align: right
    }
    .Contactpag img{
        display: inline-block;
        height: 30px;
        width: auto;
        margin: 20px;
    }
    .emailetc{
        border-right: 2px solid #e7e7e7;
        float: left;
        display: inline-block;
        height: 40px;
        width: 280px;
        margin-top: 15px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        font-family: "Roboto-Light";
        color: #e7e7e7
    }

}
@media (max-width: 1359px){
    .Rodape{
        height: 70px;
    }
    .Contactpag{
        height: 100%;
        position: absolute;
        right: 250px;
        top: 0;
        width: 450px;
        text-align: right
    }
    .Contactpag img{
        display: inline-block;
        height: 30px;
        width: auto;
        margin: 20px;
    }
    .emailetc{
        border-right: 2px solid #e7e7e7;
        float: left;
        display: inline-block;
        height: 40px;
        width: 270px;
        margin-top: 15px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        font-family: "Roboto-Light";
        color: #e7e7e7;
    }

}
@media (max-width: 1249px){
    .Rodape{
        height: 65px;
    }
    .parceirias{
        height: 100%;
        width: 530px;
    }
    .parceirias h3{
        height: 100%;   
        line-height: 80px;
        font-size: 11px;
        color: #00324c;
    }
    .empresas{
        width: 300px;
        height: 73px;
        overflow: hidden;
        position: absolute;
        left: 130px;
        text-align: center;
    }
    .empresas img{
        height: 20px;
        width: auto;
        margin: 5px 20px;
        display: inline-block;
    }
    .logoetcrodape{
        height: 60px !important;
        margin: 0;
        margin-top: 5px
    }
    .Desenvolvidopor h1{
        font-size: 10px;
        margin-top: 10px;
        margin-right: 20px;

    }
    .Desenvolvidopor h2{
        font-size: 15px;

    }
    .Desenvolvidopor h3{
        font-size: 10px;


    }
}
/*RODAPE*/

/*CELL*/
@media (max-width: 1000px) {

    .Logo{
        height: 150px;
        margin: 0 auto;
        padding: 15px 0;
        position: relative;
        z-index: 3;
        text-align: center;
        margin: 0;
    }
    .Logo img{
        width: 120px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 4;
        margin: 0;
        padding: 0
    }

    .all{
        display: none;
    }
    .resposive{
        text-align: center;
        padding: 0;
        position: absolute;
        display: table;
        width: 80%;
        height: 80%;
        z-index: 2;
        left: 10%;

    }
    .resposiveItens{
        vertical-align: middle;
        display: table-cell;
        position: static;
    }
    .resposiveItens img{
        width: auto;
        height: 50%;
    }
    .resposiveItens h2{
        font-size: 30px;
        font-family: "Roboto-Bold";
        color: #00283c;
        margin-bottom: -20px;
    }

}
/*CELL*/